
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
main {
    background-image: url('../Asset/Blauverlauf (2).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 95px 195px;
    margin: 0 30px;
    
    .title {
      color: white;
      font-size: 30px;
      line-height: 42px;
      font-family: 'Poppins', sans-serif;
    }
    .inputs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .input-fields {
        width: 80%;
        display: flex;
        justify-content: space-around;
      
        .search-container {
          position: relative;
          width: 50%;
          margin-right: 20px;
          #search {
            width: 100%;
            padding: 30px 0px;
          }
        }
    
        label {
          color: rgb(11, 11, 137);
          font-family: 'Inter', sans-serif;
          font-weight: bold;
          position: absolute;
          left: 68px;
          top: 30px;
          
        }
        .location-container {
          position: relative;
          width: 50%;
          
        #location {
          padding: 30px 0px;
          width: 100%;
        }
        .svg {
          position: absolute;
          left: 40px;
          top: 25px;
          font-weight: bold;
          stroke: rgb(11, 11, 137);
          width: 20px;
        }
        }
    
        svg {
          position: absolute;
          left: 40px;
          top: 25px;
          font-weight: bold;
          stroke: rgb(11, 11, 137);
          width: 20px;
        }
      }
      
      
      .submit-button {
        font-family: 'Inter', sans-serif;
        font-weight:bold;
        width: 20%;
        border: none;
        border-radius: 50px;
        background-color: #028ada;
        color: white;
        margin-left: 30px;
        padding: 25px 20px;
        outline: none;
        font-size: 20px;
        align-self: center;
      }
      
    
    }
   
    .button-wrapper {
      margin-top: 90px;
      font-size: 25px;
    }
    
    h4 {
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Inter', sans-serif;
    }
    
    .buttons {
      display: flex;
      justify-content: space-between;
      .btn {
        border: 1px solid white;
        background-color: transparent;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 20px;
        width: 23%;
        border-radius: 50px;
        padding: 15px 40px;
      }
    }
   
    
  }
  