
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
 
    .nav-icon img {
      width: 78px;
    }
    .nav-tabs {
      display: flex;
      justify-content: space-between;
      list-style: none;
    }
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
    .nav-dropdown {
      position: relative;
      color: #0032a0;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
      top: 20%;
      margin-right: 40px;
      &::before {
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-color: inherit;
        content: "";
        display: inline-block;
        right: 135px;
        transform: rotate(136deg);
        height: 10px;
        position: absolute;
        top: 2px;
        width: 10px;
        color: #0032a0;
      }
    }
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
    .nav-button {
      border: 1px solid #0580d1;
      border-radius: 30px;
      background-color: transparent;
      color: #0580d1;
      font-family: 'Raleway', sans-serif;
      margin-left: 30px;
      padding: 12px 21px;
      outline: none;
      font-size: 20px;
    }
 
  }
 