@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
footer {
  margin-top: 149px;
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: url("../Asset/footerBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.lists {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.vivamus {
  list-style: none;
  position: relative;
  margin-right: 35px;
  img {
    margin-right: 20px;
    width: 37px;
    border-radius: 20px;
  }
   li:first-child {
    margin-bottom: 30px;
  }
   li:nth-child(2) {
    margin-bottom: 30px;
  }
}

.elementum {
  list-style: none;
  margin-right: 35px;
  img {
    margin-right: 20px;
    width: 37px;
    border-radius: 20px;
  }
   li:first-child {
    margin-bottom: 30px;
  }
   li:nth-child(2) {
    margin-bottom: 30px;
  }
}

.cookies {
  list-style: none;
  margin-top: 150px;
}
.copyright {
  width: 50%;
  margin: auto;
  font-size: 20px;
}
.copyright p {
  margin-left: 10%;
}
.copyright button {
  border: none;
  border-radius: 13px;
  background-color: #1786f6;
  color: white;
  margin-left: 26%;
  margin-top: 0px;
  padding: 16px 66px;
  outline: none;
  font-size: 20px;
  align-self: center;
}

@media only screen and (max-width: 1366px) {
  main {
    padding: 45px 34px;
    margin: 0;
    .inputs {
      flex-direction: column;
      .input-fields {
        width: 100%;
      }
      .submit-button {
        margin-top: 50px;
        width: 40%;
        padding: 25px 20px;
      }
    }
  
  }
  .stripes-background .stripe-bottom{
    display:none;
  }
  footer .lists{
    padding-top: 40px;
    display: block;
    font-size: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  nav {
    margin: 0 !important;
    width: 100%;
    justify-content: normal;

    .nav-dropdown {
      margin: 0;
    }
  }
  main {
    background-color: rgb(19, 19, 168);
    background-image: none;
    margin: 0;
    padding: 10px 20px;

    .inputs {
      .input-fields {
        label {
          left: 35px;
        }
        svg {
          left: 10px;
        }
        .location-container .svg {
          left: 10px;
        }
      }

      .submit-button {
        width: 60%;
      }
    }

    .buttons{
      flex-direction: column;
      .btn{
        width:80%;
        margin-bottom: 10px;
      align-self: center;
      }
    }
  }

  .stripes-background{
    .description-container{
      padding-top:50px;
    }
    .quotes{
      display:none;
    }
  
    .slick-slider .slick-list .card{
      .quotes1{
        display:none;
      }
      img.logo{
        left:0;
      }
      padding:50px 50px;
      overflow-y: hidden;
      p.description{
        font-size: 15px;
            }
    }
 
  }
 footer{
  .copyright button{
    padding: 10px 20px;
   }
 } 
}
